{% extends 'base.html' %} 

{% block content %}

<div class="container">
    <div>
      <h1>{{device.name}}</h1>
      <ul>
        {% for employee in devices.employee.all %}
            <h4>{{employee.name}}</h4>
        {% empty %}
            <div>No Devices currently assigned to user.</div>
        {% endfor %}
    </ul>
    </div>
  
  <div class="update">
    <a href="{% url 'devices_update' device.pk %}">Edit {{device.device_type}}</a>
    <a href="{% url 'devices_delete' device.pk %}">Delete {{device.device_type}}</a>

</div>
  </div>
</div>



{% endblock %}