{% extends 'base.html' %}

{% block title %}
Employee List
{% endblock %}

{% block content %}

<form>
    <div>
      
        <input type="text" name="name" placeholder="name"/>
        <input type="submit" value="Search"/>
    <a class ="clear" href="{% url 'employee_list' %}">Clear Search</a>
    </div>
  
</form>

<h1>{{header}}</h1>
<div class="container">

  

    <div class="column">    
        {% for employee in employees %}
            <a href="{% url 'employee_detail' employee.pk %}">
                <h3>Name: {{employee.first_name}} {{employee.last_name}}</h3>
                {% for device in employee.devices.all%}
                <h3>Device: {{device.serial_number}}</h3>
             {%endfor%}
        
            </a>
    

            {% endfor %}
</div>

</div>

   
  
{% endblock %}