

{% extends 'base.html' %} 
{% block content %}

{% if user.is_authenticated %}






{% else %}


<div class="employee-top">
    <div class="box1"><h1 class="homepage-heading">Welcome to HAM</h1>
        <p class="ham">Hardware Assest Management</p></div>
    
  
  </div>
  
  
  <div class="homepage-container">

     
    <div class="row">  
         <div class="info">
           

{% include "registration/login.html" %}

         </div>  

         <div class="svg">


        <img class="home-page-img" src="../static/images/homepage-img.png" width="500px" height="400px">
         </div>
  
       <div>
  
  

{% endif %}



{% endblock %}