{% extends 'base.html' %} 

{% block content %}

<div class="container">
    <div>
      <h1>{{inventory.name}}</h1>
      <ul>
    
        {% if inventory.in_stock < 1 %}
        <h3>Currently out of stock</h3>
        {% else %}
            <div>{{inventory.in_stock}}</div>
        {% endif %}
    </ul>
    </div>
  
  <div class="update">
    <a href="{% url 'inventory_add' inventory.pk %}">ADD {{inventory.name}}</a>
    <a href="{% url 'inventory_delete' inventory.pk %}">Delete {{inventory.name}}</a>

</div>
  </div>
</div>



{% endblock %}