{% extends 'base.html' %}
{% block content %}


<div class="employee-top">
    <div class="box1"> <h1 class="employee-heading">Inventory Information</h1></div>
   <div class="box2"> <a href="{% url 'inventory_create'%}"><button class="inventory-add">+ {{inventory.name}}</button></a></div>
  </div>


<div class="container">


    <div class="column">  
        <div class="inventory-info">
            <ul class="employee-title-list">
                <li><h2>Item |</h2></li>
                <span></span>
                <li><h2>In Stock</h2></li>
                
            </ul>
        </div>  

        {% for inventory in inventory %}
        <div class="inventory-index-a">
            <a href="{% url 'inventory_detail' inventory.pk %}" class="">
                <div class="card-content">
      
                    <table>
                        <tr class="">
                            <th>Name</th>
                            <th>Serial Number</th>

               
                        </tr>
                        <tr>
                            <div class="borderlines">
                            <td class="inventory-spacing">{{inventory.name}} </td>
                          
                            {% if inventory.in_stock < 1 %}
                            <td class="inventory-spacing-value"> Out Of Stock</td>
                            <td><a href="{% url 'inventory_detail' inventory.id%}"><button class="inventory-add">EDIT</button></a></td> 
                            {% else %}
                            <td class="inventory-spacing-value">{{inventory.in_stock}}</td>
                            <td><a href="{% url 'inventory_detail' inventory.id%}"><button class="inventory-add">EDIT </button></a></td> 

                            </div>
                            
                        </tr>
                    </table>
   

                {% endif %}
            
               
        
            </a>
    

            {% endfor %}
</div>

</div>

   
  
{% endblock %}