@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Open+Sans&display=swap');

:root {
    --light-purple:#F6F5FC;
    --pale-purple:#B9BDD2;
    --dark-purple:#8C8FC0;
    --dark-gray:#565656;
}


/*** login **/

body{
    background-color:var(--light-purple);
    width:auto;
    margin:0;
}



.login-page {
    border-radius:10px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    margin:100px auto auto auto;
    padding:40px;
    height:auto;
    width:250px;
   
}

.employee-title {
    font-size:10px;
}


.default {
   display:flex;
}

.nav-left {
    all:unset;
    background-color:white;
    height:100vh;
    font-family:Libre Baskerville;
    float:left;
    text-align: left;
    width:15%;
    text-transform: uppercase;
}

.nav-left a {
    text-decoration:none;
    display:block;
    width:100%;
    padding-top:55px;
    padding-left:30px;
    color:var(--dark-purple);
    
}

 a:active, a:hover {
    color:var(--dark-gray)
}

.content {
    justify-content:center;
    text-align:center;
    padding-top:50px;
    margin:0 auto;
   
}

.loggedin {
    
    background-color:white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    text-align: right;
    font-family:Libre Baskerville;
    border-radius:10px;

}


.search-bar {
    padding:0;
    margin:0;
    float:left;
}


.loggedin a {
    display:inline-block;
    padding:15px;
    color:var(--dark-purple);
  
}

.loggedin li {
    display:inline;
    
}

a {
    text-decoration: none;
}


 ul {
    list-style-type:none;
    margin:0;
    padding:0;
  }
  
 .default  li a {
    display: block;
    width: 60px;
  }


.title {
    font-family:Libre Baskerville;
    color:var(--dark-purple);
}

.container {
    padding:0;
    margin:0 auto;
    display:flex;
    background-color:white;
    justify-content: center;
    border-radius:10px;
    width:500px;
    overflow:auto;
}



.box {
    font-family:Open sans;
    padding:40px;
    border-radius:10px;
    box-shadow: 0px 11px 25px 2px rgba(0, 0, 0, 0.14);
}

.search {
    all:unset;
     width: 76%;
      color: var(--dark-purple);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
     text-transform:capitalize;
        width:90px;
        
}

.register-button {
    margin-top:50px;
    text-transform:uppercase;
    font-family:open sans;
      color: var(--dark-purple);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
    width:175px;

  
}

  input {
    all:unset;
     width: 76%;
      color: var(--dark-gray);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
    width:175px;
 
  }
  

  .employee-data {
      padding:25px;
      padding-bottom:5px;
      text-align: center;
  }
td{
    padding:1.5em;
    text-align: center;
    font-family:open sans;
}

.employee-name {
    padding-left:0;
}

.employee-device {
    padding-left:1px;
    padding-right:4em;
}

.employee-device-status {
    padding-left:3em;
}

.employee-device-ship-status {
    padding-left:5em;
}

  th{
      display:none;
      padding:20px;
      padding-left:50px;
      text-align: center;
      border-bottom:1px solid black;
  }
  

.employee-info ul li{
    font-family:Libre Baskerville;
    display:inline-block;

}

.employee-info li {
    padding:5px;
}

.employee-info ul {
    padding-right:7em;
}

.device-info ul {
    padding-right:3em;
}

.inventory-info ul li{
    font-family:Libre Baskerville;
    display:inline-block;

}

.inventory-info ul {
    padding-right:12em;
}
  
.inventory-info span {
    font-size:30px;
    padding:5px;
}

.employee-info h2 {
    font-size:20px;
}

.employee-info span {
    font-size:30px;
}
.borderlines {
    border-bottom:1px solid black;
    opacity:15%;
}


.employee-heading {
    margin-top:25px;
    margin-right:5em;
    font-family:Libre Baskerville;
    color:var(--dark-purple);
}

.create-employee {
    margin-top:25px;
    margin-bottom:25px;
    margin-left:5em;
    text-transform:uppercase;
    font-family:open sans;
      color: var(--dark-purple);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
    width:175px;
}



.inventory-add {
    margin-top:25px;
    margin-bottom:25px;
    margin-left:5em;
    text-transform:uppercase;
    font-family:open sans;
      color: var(--dark-purple);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
    width:100px;
}



.employee-add {

    text-transform:uppercase;
    font-family:open sans;
      color: var(--dark-purple);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
    width:100px;
}

.employee-edit-button a{
    padding:0;
}

.employee-top {
    display:flex;
    justify-content: center;
    padding-top:40px;
}


.search-bar {
    padding-left:20em;
}


.employee-search-btn {
    all:unset;
      color: var(--dark-gray);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.25);
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
    width:100px;
    padding:10px;
    text-align:center;
}

.employee-search-bar {
    all:unset;
    color: var(--dark-gray);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
  width:30em;
  padding:10px;
  text-align:left;
}

.clear {
    all:unset;
    color: var(--dark-gray);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    outline: none;
}



.inventory-spacing {
    padding-left:2em;
}

.inventory-spacing-value {
    
    padding-left:8em;
}

.employee-title-list {
    /* padding-right:15em; */
}


a {
    color:var(--dark-purple);
}

.create-title {
    font-family:Libre Baskerville;
    color:var(--dark-purple);
}