@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Open+Sans&display=swap');

:root {
    --light-purple:#F6F5FC;
    --pale-purple:#B9BDD2;
    --dark-purple:#8C8FC0;
    --dark-gray:#565656;
}


/*** login **/

body{
    background-color:var(--light-purple);
    width:auto;
    margin:0;
}

.ham-logo a {
    padding:0;
    margin:0;
}

.login-page {
    border-radius:10px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    margin:100px auto auto auto;
    padding:40px;
    height:auto;
    width:250px;
   
}

table {
    padding-left:2em;
}

.employee-title {
    font-size:10px;
}


.default {
   display:flex;
}

.nav-left {
    all:unset;
    background-color:white;
    height:100vh;
    font-family:Libre Baskerville;
    float:left;
    text-align: left;
    width:15%;
    text-transform: uppercase;
}

.nav-left a {
    text-decoration:none;
    display:block;
    width:100%;
    padding-top:30px;
    padding-left:30px;
    color:var(--dark-purple);
    
}

 a:active, a:hover {
    color:var(--dark-gray)
}

.content {
    justify-content:center;
    text-align:center;
    padding-top:50px;
    margin:0 auto;
   
}

.loggedin {
    
    background-color:white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    text-align: right;
    font-family:Libre Baskerville;
    border-radius:10px;

}




.search-bar {
    padding:0;
    margin:0;
    float:left;
}


.loggedin a {
    /* display:inline-block; */
     padding:15px;
    /* padding-top:3em; */
    color:var(--dark-purple);
  
}

img {
    float:left;
    padding-left:20px;
}

.loggedin img {
    margin:0;
}


.loggedin ul li {
    display:inline;
    
}

.loggedin ul {
    padding:0;
    margin:0;
}


a {
    text-decoration: none;
    padding:0;
    margin:0;
}


.welcome  {
    list-style:none;
}

.welcome li {
    padding-top:0;
    display:inline;
    padding-right:1em;
}

.welcome a {
    padding-bottom:1em;
}

 ul {
    list-style-type:none;
    margin:0;
    padding:0;
  }
  
 .default  li a {
    display: block;
    width: 60px;
  }


.title {
    font-family:Libre Baskerville;
    color:var(--dark-purple);
}

.container {
    padding:0;
    margin:0 auto;
    display:flex;
    background-color:white;
    justify-content: center;
    border-radius:10px;
    width:800px;
    height:540px;
    overflow:auto;
}



.box {
    font-family:Open sans;
    padding:40px;
    border-radius:10px;
    box-shadow: 0px 11px 25px 2px rgba(0, 0, 0, 0.14);
}

.search {
    all:unset;
     width: 76%;
      color: var(--dark-purple);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
     text-transform:capitalize;
        width:90px;
        
}

.register-button {
    margin-top:50px;
    text-transform:uppercase;
    font-family:open sans;
      color: var(--dark-purple);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
    width:175px;

  
}

  input {
    all:unset;
     width: 76%;
      color: var(--dark-gray);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      /* padding: 10px 20px; */
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
    width:175px;
 
  }

  .logo {
      padding:0;
      margin:0;
  }
  

  .employee-data {
      padding:25px;
      padding-bottom:5px;
      text-align: center;
  }
td{
    padding:1.5em;
    text-align: center;
    font-family:open sans;
}

.employee-name {
    padding-left:0;
}

.employee-device {
    padding-left:1px;
    padding-right:4em;
}

.employee-device-status {
    padding-left:3em;
}

.employee-device-ship-status {
    padding-left:5em;
}

  th{
      display:none;
      padding:20px;
      padding-left:50px;
      text-align: center;
      border-bottom:1px solid black;
  }
  

.employee-info ul li{
    font-family:Libre Baskerville;
    display:inline-block;

}

.employee-info li {
    padding:5px;
}

.employee-info ul {
    padding-right:7em;
}

.device-info ul {
    padding-right:3em;
}

.inventory-info ul li{
    font-family:Libre Baskerville;
    display:inline-block;

}

.inventory-info ul {
    padding-right:12em;
}
  
.inventory-info span {
    font-size:30px;
    padding:5px;
}

.employee-info h2 {
    font-size:2.5vh;
    font-family:Libre Baskerville;
}

.employee-info span {
    font-size:30px;
}
.borderlines {
    border-bottom:1px solid black;
    opacity:15%;
}


.employee-heading {
    margin-top:25px;
    margin-right:5em;
    font-family:Libre Baskerville;
    color:var(--dark-purple);
}

.create-employee {
    margin-top:25px;
    margin-bottom:25px;
    margin-left:5em;
    text-transform:uppercase;
    font-family:open sans;
      color: var(--dark-purple);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
    width:175px;
}



.inventory-add {
    margin-top:25px;
    margin-bottom:25px;
    margin-left:5em;
    text-transform:uppercase;
    font-family:open sans;
      color: var(--dark-purple);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
    width:100px;
}



.employee-add {

    text-transform:uppercase;
    font-family:open sans;
      color: var(--dark-purple);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
    width:100px;
}

.employee-edit-button a{
    padding:0;
}

.employee-top {
    display:flex;
    justify-content: center;
    padding-top:40px;
}

img {
    padding-right:10em;
}

.search-bar {
    padding-top:0.2em;
    padding-left:20em;
}

.weclome-info il  {
   list-style: none;
}



.employee-search-btn {
    all:unset;
      color: var(--dark-gray);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.25);
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
    width:100px;
    padding:10px;
    text-align:center;
}

.employee-search-bar {
    all:unset;
    color: var(--dark-gray);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
  width:30em;
  padding:10px;
  text-align:left;

}

.clear {
    all:unset;
    color: var(--dark-gray);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    outline: none;
}



.inventory-spacing {
    padding-left:2em;
}

.inventory-spacing-value {
    
    padding-left:8em;
}



a {
    color:var(--dark-purple);
}

.create-title {
    font-family:Libre Baskerville;
    color:var(--dark-purple);
}

@media only screen and (max-width: 1500px) {
  
    .employee-search-bar, .employee-search-btn, .clear {
        display:none;
    }

.welcome {
    font-size:14px;
}

/* .loggedin {
    display:none;
} */
    /* nav {
        display:none;
    } */

  /** TOGGLE **/

  @import url(https://fonts.googleapis.com/css?family=Raleway);
  h2 {
    vertical-align: center;
    text-align: center;
  }
  
  html, body {
    margin: 0;
    height: 100%;
  }
  
  * {
    font-family: "Raleway";
    box-sizing: border-box;
  }
  
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    /* background: linear-gradient(to bottom, var(--dark-purple), var(--light-purple)); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    padding: 1em;
  }
  
  .menu {
    font-family: Libre Baskerville;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: transparent;
    
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }

    .employee-info ul {
        font-family:Libre Baskerville;
    }
  }

  }

  @media only screen and (min-width: 1300px) { 
   
    /* .section {
        display:none;
    } */
    .menu {
        display:none;
    }

    #menu-toggle {
        display:none;
    }

   .logo {
     
       padding: 0;
       margin:0;
   }

   /* .welcome {
       display:none;
   } */

   /* .top-nav {
       display:none;
   } */
  }

  @media only screen and (max-width: 840px) { 
    
    .menu {
        font-size:1.4vh;
       
    }

    .menu ul {
        padding:0;
        margin:0;
    }

    .container {
        font-size:14px;
        width:620px;
        height:500px;
    }

    .employee-heading {
        font-size:30px;
    }

    .employee-top {
        padding-left:0;
        padding-right:8em;

    }

    .box1 {
        padding-left:7em;
    }
    
    /* .top-nav{
        display:none;
    } */
  }