@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Open+Sans&display=swap');

:root {
    --light-purple:#F6F5FC;
    --pale-purple:#B9BDD2;
    --dark-purple:#8C8FC0;
    --dark-gray:#565656;
}


/*** login **/

body{
    background-color:var(--light-purple);
    width:auto;
    margin:0;
}



.login-page {
    border-radius:10px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    margin:100px auto auto auto;
    padding:40px;
    height:auto;
    width:250px;
   
}

.employee-title {
    font-size:10px;
}


.default {
   display:flex;
}

.nav-left {
    all:unset;
    background-color:white;
    height:100vh;
    font-family:Libre Baskerville;
    float:left;
    text-align: left;
    width:15%;
    text-transform: uppercase;
}

.nav-left a {
    text-decoration:none;
    display:block;
    width:100%;
    padding-top:55px;
    padding-left:30px;
    color:var(--dark-purple);
    
}

 a:active, a:hover {
    color:var(--dark-gray)
}

.content {
    justify-content:center;
    text-align:center;
    padding-top:50px;
    margin:0 auto;
   
}

.loggedin {
    
    background-color:white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    text-align: right;
    font-family:Libre Baskerville;
    border-radius:10px;

}


.search-bar {
    padding:0;
    margin:0;
    float:left;
}


.loggedin a {
    display:inline-block;
    padding:15px;
    color:var(--dark-purple);
  
}

.loggedin li {
    display:inline;
    
}

a {
    text-decoration: none;
}


 ul {
    list-style-type:none;
    margin:0;
    padding:0;
  }
  
 .default  li a {
    display: block;
    width: 60px;
  }


.title {
    font-family:Libre Baskerville;
    color:var(--dark-purple);
}

.container {
    padding:0;
    margin:0 auto;
    display:flex;
    background-color:white;
    justify-content: center;
    border-radius:10px;
    width:800px;
    height:540px;
    overflow:auto;
}



.box {
    font-family:Open sans;
    padding:40px;
    border-radius:10px;
    box-shadow: 0px 11px 25px 2px rgba(0, 0, 0, 0.14);
}

.search {
    all:unset;
     width: 76%;
      color: var(--dark-purple);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
     text-transform:capitalize;
        width:90px;
        
}

.register-button {
    margin-top:50px;
    text-transform:uppercase;
    font-family:open sans;
      color: var(--dark-purple);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
    width:175px;

  
}

  input {
    all:unset;
     width: 76%;
      color: var(--dark-gray);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
    width:175px;
 
  }
  

  .employee-data {
      padding:25px;
      padding-bottom:5px;
      text-align: center;
  }
td{
    padding:1.5em;
    text-align: center;
    font-family:open sans;
}

.employee-name {
    padding-left:0;
}

.employee-device {
    padding-left:1px;
    padding-right:4em;
}

.employee-device-status {
    padding-left:3em;
}

.employee-device-ship-status {
    padding-left:5em;
}

  th{
      display:none;
      padding:20px;
      padding-left:50px;
      text-align: center;
      border-bottom:1px solid black;
  }
  

.employee-info ul li{
    font-family:Libre Baskerville;
    display:inline-block;

}

.employee-info li {
    padding:5px;
}

.employee-info ul {
    padding-right:7em;
}

.device-info ul {
    padding-right:3em;
}

.inventory-info ul li{
    font-family:Libre Baskerville;
    display:inline-block;

}

.inventory-info ul {
    padding-right:12em;
}
  
.inventory-info span {
    font-size:30px;
    padding:5px;
}

.employee-info h2 {
    font-size:20px;
}

.employee-info span {
    font-size:30px;
}
.borderlines {
    border-bottom:1px solid black;
    opacity:15%;
}


.employee-heading {
    margin-top:25px;
    margin-right:5em;
    font-family:Libre Baskerville;
    color:var(--dark-purple);
}

.create-employee {
    margin-top:25px;
    margin-bottom:25px;
    margin-left:5em;
    text-transform:uppercase;
    font-family:open sans;
      color: var(--dark-purple);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
    width:175px;
}



.inventory-add {
    margin-top:25px;
    margin-bottom:25px;
    margin-left:5em;
    text-transform:uppercase;
    font-family:open sans;
      color: var(--dark-purple);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
    width:100px;
}



.employee-add {

    text-transform:uppercase;
    font-family:open sans;
      color: var(--dark-purple);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
    width:100px;
}

.employee-edit-button a{
    padding:0;
}

.employee-top {
    display:flex;
    justify-content: center;
    padding-top:40px;
}


.search-bar {
    padding-left:20em;
}


.employee-search-btn {
    all:unset;
      color: var(--dark-gray);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.25);
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
    width:100px;
    padding:10px;
    text-align:center;
}

.employee-search-bar {
    all:unset;
    color: var(--dark-gray);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
  width:30em;
  padding:10px;
  text-align:left;
}

.clear {
    all:unset;
    color: var(--dark-gray);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    outline: none;
}



.inventory-spacing {
    padding-left:2em;
}

.inventory-spacing-value {
    
    padding-left:8em;
}

.employee-title-list {
    /* padding-right:15em; */
}


a {
    color:var(--dark-purple);
}

.create-title {
    font-family:Libre Baskerville;
    color:var(--dark-purple);
}

@media only screen and (max-width: 1300px) {
    .nav-left{
        display:none;
    }

    .search-bar {
        display:none;
    }

  }


  /** TOGGLE **/


  /* Screen reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
  
  /* Button styling */
  .menu-toggle {
    display: inline-block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #333;
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    color: #c00;
  }
  
  /*
   Default styles + Mobile first
   Offscreen menu style
  */
  .main-menu {
    position: absolute;
    display: none;
    left: -200px;
    top: 0;
    height: 100%;
      overflow-y: scroll;
      overflow-x: visible;
      transition: left 0.3s ease,
                        box-shadow 0.3s ease;
      z-index: 999;
  }
  
  .main-menu ul {
    list-style: none;
    margin: 0;
    padding: 2.5em 0 0;
    /* Hide shadow w/ -8px while 'closed' */
    -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
       -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
            box-shadow: -8px 0 8px rgba(0,0,0,.5);
    min-height: 100%;
    width: 200px;
    background: #1a1a1a;
  }
  
  .main-menu a {
    display: block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #383838;
  }
  
  .main-menu li:first-child a {
    border-top: 1px solid #383838;
  }
  
  .main-menu a:hover,
  .main-menu a:focus {
    background: #333;
    text-decoration: underline;
  }
  
  .main-menu .menu-close {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /*
   On small devices, allow it to toggle...
  */
  /*
   :target for non-JavaScript
   [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
  */
  .main-menu:target,
  .main-menu[aria-expanded="true"] {
    display: block;
    left: 0;
    outline: none;
    -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
    -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
    box-shadow: 3px 0 12px rgba(0,0,0,.25);
  }
  
  .main-menu:target .menu-close,
  .main-menu[aria-expanded="true"] .menu-close {
    z-index: 1001;
  }
  
  .main-menu:target ul,
  .main-menu[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000;
  }
  
  /* 
   We could us `.main-menu:target:after`, but
   it wouldn't be clickable.
  */
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop{
    position: absolute;
    display: block;  
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #000;
    background: rgba(0,0,0,.85);
    cursor: default;
  }
  
  @supports (position: fixed) {
    .main-menu,
    .main-menu:target + .backdrop,
    .main-menu[aria-expanded="true"] + .backdrop{
      position: fixed;
    }
  }
  
  /*
   Larger screen styling
   Horizontal menu
  */
  @media (min-width: 768px) {
    .menu-toggle,
    .main-menu .menu-close {
      display: none;
    }
    
    /* Undo positioning of off-canvas menu */
    .main-menu {
      position: relative;
          left: auto;
          top: auto;
          height: auto;
      display: block;
    }
    
    .main-menu ul {
      display: flex;
      
      /* Undo off-canvas styling */
      padding: 0;
      -webkit-box-shadow: none;
         -moz-box-shadow: none;
              box-shadow: none;
      height: auto;
      width: auto;
      background: none;
    }
    
    .main-menu a {
      color: #06c;
      border: 0 !important; /* Remove borders from off-canvas styling */
    }
    
    .main-menu a:hover,
    .main-menu a:focus {
      background: none; /* Remove background from off-canvas styling */
      color: #c00;
    }
  }
  
  /*
   Demo purposes only
  */
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  header {
    padding: 20px;
    display: flex;
    align-items: baseline;
  }
  
  article {
    padding: 30px;
    width: 55em;
    font-size: 16px;
    line-height: 1.5em;
  }
  
  article h2 {
    font-weight: 500;
    font-size: 28px;
  }
  
  .logo {
    margin: 0 30px 0 10px;
    font-size: 1.5em;
  }